body{
    background-color: rgb(19, 19, 19);
    color:white;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
a{
    color:white;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 3%;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
}
.lupa{
    display: grid;
    justify-content: start;
}
.antes-Dayseeker{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 1em;
}
.despues-Dayseeker{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 1em;
}
.VIDEOS{
    grid-column: 2;
}
.redes-sociales{
    display: flex;
    justify-content: end;
    margin-top: 0.5em;
    margin-right: 2em ;
    flex-wrap: nowrap;
}
.DaySeeker-navbar{
    font-weight: bold;
    font-size: 2em;
}
.dark-sun-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.dark-sun-img{
    width: 100%;
}
.featured-collection{
    margin-top: 2em;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 2em;
}